.complex-solutions {
    background-color: var(--background-color-black);
    color: var(--text-color-white);
    z-index: 15;
    margin-bottom: var(--margin-sections);
}

.complex-solutions .complex-solutions-wrap .complex-solutions-blocks {
    display: block;
}

.complex-solutions .complex-solutions-wrap h2 {
    position: relative;
    left: 40%;
    font-family: var(--font-name-title);
    font-weight: 500;
    text-transform: uppercase;
    font-size: var(--desktop-text-size-h2);
    line-height: 90px;
    width: 1005px;
    padding-block: 50px;
}

.double-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.double-wrap .slider-buttons {
    padding-right: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.double-wrap .slider-buttons button {
    width: 50px;
    height: 50px;
    opacity: 100%;
    border-radius: 999px;
    border: 1px solid var(--border-color-gray-dark);
    transition: var(--transition);
    display: flex;
    justify-content: center;
    align-items: center;
}

.double-wrap .slider-buttons button:hover {
    border: 1px solid white;
}

.double-wrap .slider-buttons button:active {
    opacity: 50%;
}

.complex-solutions .complex-solutions-wrap .complex-solutions-blocks .complex-solutions-block {
    display: flex;
    /* align-items: start; */
    align-items: stretch;
    justify-content: space-between;
}

.complex-solutions .complex-solutions-wrap .complex-solutions-blocks .complex-solutions-block .complex-solutions-block-image {
    width: 1260px;
    height: auto;
}

.complex-solutions .complex-solutions-wrap .complex-solutions-blocks .complex-solutions-block .complex-solutions-block-text {
    width: 660px;
    border: 1px solid var(--border-color-gray-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.complex-solutions .complex-solutions-wrap .complex-solutions-blocks .complex-solutions-block .complex-solutions-block-text h3 {
    padding: 39px 51px;
    color: var(--text-color-grayl-black);
    font-family: var(--font-name-title);
    font-size: var(--desktop-text-size-h3);
    font-weight: 500;
    text-transform: uppercase;
}

.complex-solutions .complex-solutions-wrap .complex-solutions-blocks .complex-solutions-block .complex-solutions-block-text .complex-solutions-block-text-bottom {
    padding: 47px 51px;
    border-top: 1px solid var(--border-color-gray-dark);
}

.complex-solutions .complex-solutions-wrap .complex-solutions-blocks .complex-solutions-block .complex-solutions-block-text .complex-solutions-block-text-bottom h5 {
    font-size: var(--font-name-text);
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 15px;
}

.complex-solutions .complex-solutions-wrap .complex-solutions-blocks .complex-solutions-block .complex-solutions-block-text .complex-solutions-block-text-bottom .complex-solutions-block-text-bottom-description p {
    font-size: var(--desktop-text-size-description-default);
    line-height: 28px;
}

.complex-solutions .complex-solutions-wrap .complex-solutions-blocks .complex-solutions-block .complex-solutions-block-image {
    display: flex;
}

.complex-solutions .complex-solutions-wrap .complex-solutions-blocks .complex-solutions-block .complex-solutions-block-image .complex-solutions-block-image-left {
    width: 50%;
}
.complex-solutions .complex-solutions-wrap .complex-solutions-blocks .complex-solutions-block .complex-solutions-block-image .complex-solutions-block-image-right {
    width: 50%;
}

.complex-solutions-block-image-inner {
    position: relative;
    width: fit-content;
    display: inline-block;
}

.complex-solutions-block-image-inner img {
    display: block;
    /* width: 100%; */
    width: 630px;
    height: auto;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.98) 100%);
    position: relative;
}

.complex-solutions-block-image-inner {
    position: relative;
}

.complex-solutions-block-image-inner::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.98) 140%);
    pointer-events: none;
}

.complex-solutions-block-image-left {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: white;
    z-index: 2;
    max-width: 90%;
    padding: 20px;
    border-radius: 10px;
}

.tag {
    padding: 5px 8px;
    border: 1px solid rgba(255, 255, 255, 0.506);
    border-radius: 999px;
    background-color: rgba(209, 209, 209, 0.405);
    font-size: var(--desktop-text-size-sub);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.complex-solutions-block-image-left .tag {
    padding: 5px 8px;
    border: 1px solid rgba(255, 255, 255, 0.506);
    border-radius: 999px;
    background-color: rgba(209, 209, 209, 0.405);
    font-size: var(--desktop-text-size-sub);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.complex-solutions-block-image-left h4 {
    padding-block: 15px;
    font-size: 40px;
}

.complex-solutions-block-image-left p {
    width: 490px;
    font-size: var(--desktop-text-size-description-low);
    font-weight: 500;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.64);
    padding-bottom: 5px;
}

.complex-solutions-block-image-left a {
    font-size: var(--desktop-text-size-description-low);
}
