.hero-section {
    position: relative;
    color: var(--text-color-white);
    width: 100%;
    height: 1920px;
    background-image: url("../../assets/images/jpg/main-background-2.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.hero-section-main-image {
    top: 45%;
    position: absolute;
    bottom: 0;
    z-index: 10;
}

.hero-section .hero-section-wrap .hero-section-text {
    /* pointer-events: auto; */
    opacity: 1;
    padding-top: 120px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    width: fit-content;
    user-select: none;
    -webkit-user-select: none; /* для Safari */
    -moz-user-select: none;    /* для Firefox */
    -ms-user-select: none;     /* для Internet Explorer/Edge */
}

.hero-section .hero-section-wrap .hero-section-text {
    transition: opacity 0.3s ease-in-out;
}

.hero-section-text.hidden {
  opacity: 0;
  pointer-events: none;
}

.hero-section .hero-section-wrap .hero-section-text h1 {
    font-family: var(--font-name-title);
    font-weight: 500;
    font-size: var(--desktop-text-size-h1);
    letter-spacing: 1.2px;
    line-height: 120px;
    width: 1140px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 40px;
}

.hero-section .hero-section-wrap .hero-section-text .hero-section-text-description p {
    font-size: var(--desktop-text-size-description-default);
    line-height: 35px;
    letter-spacing: -0.4px;
    width: 565px;
    text-align: center;
}
